footer.background-1.color-8.py-3.fs--1.fw-600.font-heading
  .container
    .row.align-items-center
      .col-auto.font-1 © 2018 boslott.online 
      .col.fs-0.text-right
        a.p-2.color-8(href='#')
          i.fa.fa-facebook
        a.p-2.color-8(href='#')
          i.fa.fa-twitter
        a.p-2.color-8(href='#')
          i.fa.fa-instagram
        a.p-2.color-8(href='#')
          i.fa.fa-behance
        a.p-2.color-8(href='#')
          i.fa.fa-dribbble