mixin forgotForm()
  form(action='/account/forgot' method='POST')
    h3.fw-300.mb-5 Forgot Password
    input.form-control.mb-3(type="email" placeholder="Email")
    input.btn.btn-primary.btn-block.form-control(type='submit' value='Send a Reset')